.dashboard{
    /* margin-left:20px; */
    text-align: center;
    display: flex;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 3fr);
    /* align-items: center; */
    justify-content: center;
}