.dashboard{
    /* margin-left:20px; */
    text-align: center;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center; */
    justify-content: space-evenly;
    /* background-color: #DFF6FF, */

    
}

