.dashboard{
    /* margin-left:20px; */
    text-align: center;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center; */
    justify-content: space-evenly;
    /* background-color: #DFF6FF, */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 3rem;
    background-color: white;
    margin: .5rem;
    

    
}

.dashboard-container{
    /* background-color: oldlace; */
    padding-bottom: 2rem;
    
}

