.nav{
    
    /* align-items: center;
    text-align: center;
    justify-content: center;
    background-color: bisque;
    color: black;
    padding: 0.7rem;
    box-shadow: 1rem; */
    
    height: 100%; /* 100% Full-height */
    width: 250; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    padding: 10px;
    border-top: 0px;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

}

span{
    display: flex;
    align-items: left;
    text-transform: capitalize;
    color:black
}