.nav{
    
    /* align-items: center;
    text-align: center;
    justify-content: center;
    background-color: bisque;
    color: black;
    padding: 0.7rem;
    box-shadow: 1rem; */

}

span{
    display: flex;
    align-items: left;
    text-transform: capitalize;
    color:black
}

.bug-icon{
    /* background-color: blue; */
}