.ticket-form{
    /* display:flex;
    padding-right:40rem;
    padding-left: 1000px;
    margin-left: 500px; */
    margin:auto;
}
.ticket-list{
    display: flex;
    box-shadow: 60px -16px teal;
    background-color: blue;
}

.tickets{
    margin-left:30rem;
}

table{
    border: 1px solid;
    overflow-y:scroll;
     padding-bottom: 40px;
     justify-content: space-between;
     margin-bottom: 200px;
     width: 100%;
     
}

table td, table th {
    text-align: center;
    padding: 10px;
}

table th {
    /* background-color: blue; */
    padding:100px;
}

table td{
    border: none;
    height: 2.8rem
}