.ticket-form{
    /* display:flex;
    padding-right:40rem;
    padding-left: 1000px;
    margin-left: 500px; */
    margin:auto;
}
/* .ticket-list{ */
    /* display: flex; */
    /* flex-direction: column; */
    /* box-shadow: 60px -16px teal; */
    /* padding: 100px; */
    /* background-color: blue; */
/* } */

.tickets{
    margin: 5rem;
}

table{
    border: 1px solid;
    overflow-y:scroll;
     padding-bottom: 40px;
     justify-content: space-between;
     margin-bottom: 200px;
     width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-collapse:collapse;
    /* background-color: cyan; */

     
}

table td, table th {
    text-align: center;
    padding: 0px;
}

table th {
    background-color: white;
    padding:10px;
}

table td{
    border: none;
    height: 2.8rem;
    width: 20rem;
}